$light-grey: #f0f0f0;
$light-green: #b1faae;
$jetbrains-odd-row: #464a4d;
$jetbrains-even-row: #3c3f41;
$toolbar-dark-border: #363636;
$jetbrains-blue: #4b6eaf;
$jetbrains-red: #af4b4b;
$firebase-guest-button: #f5b400;
$firebase-phone-sign-in: #43c4a5;
$chess-dot-com-dark: #779556;
$chess-dot-com-light: #ebecd0;
$mui-blue-1: #00b0ff;
$mui-blue-2: #0081cb;
$star-wars1: #ffe81e;
$star-wars2: #f6b601;
$star-wars-blue: #28ded3;
$nba-blue: #253b73;
$nba-red: #b52532;
$light-blue: #72e2ff;
$link-blue2: #90caf9;
$dark-blue: #0081cbff;
$paul-blue: #006dfb;
