.scrollbars-light {
    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        opacity: 0.5;
    }

    ::-webkit-scrollbar-track {
        border-radius: 4px;
        opacity: 0.5;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(169, 169, 169, 0.5);
        opacity: 0.5;
    }
}

.scrollbars-dark {
    ::-webkit-scrollbar {
        width: 0.5rem;
        opacity: 0.5;
    }

    ::-webkit-scrollbar-track {
        border-radius: 4px;
        opacity: 0.5;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(101, 101, 101);
        opacity: 0.5;
    }
}
